.logo-container {
  z-index: 0;
  width: 300px;
  height: 609px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;


  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 100px;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;


    

  }
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700&display=swap');

@mixin keyFrame($animeName) {
  @-webkit-keyframes #{$animeName} {
      @content;
    }
    @-moz-keyframes #{$animeName} {
      @content;
    }
    @keyframes #{$animeName} {
      @content;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  display: flex;
 
}
.box {

  
  z-index: 0;
  width: 300px;
  height: 609px;
  
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
 
  width: 300px;
  height: 400px;
  background-color: #F6E7D8;
  border-radius: 50%;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    inset: -10px 100px;
    background: linear-gradient( #073c57, #012538);
    transition: .5s;
    animation: animate 4s linear infinite;
  }
  &::after {
    content: "";
    position: absolute;
    background-color: #022c43;
    inset: 10px;
    border-radius: 50%;
    z-index: 1;
  }
  .content {
    position: absolute;
    inset: 30px;
    border: 6px solid #F6E7D8;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: .5s;
      text-align: center;
      pointer-events: none;
      z-index: 3;
    }
    h2 {
      position: relative;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
      padding: 10px 0;
      span {
        display: block;
        font-weight: 300;
        font-size: 13px;
        padding: 5px 0;
      }
    }
    a {
      position: relative;
      background-color: #ffd900dc;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      transition: .5s;
      &:hover {
        letter-spacing: 3px;
      }
    }
  }
  &:hover {
    &::before {
      inset: -20px 0px;
    }
    img {
      opacity: 0
    }
  }
}

@include keyFrame(animate) {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}