


h2.titulo {
  font-size: 2.7em;
  font-weight: normal;
  padding: 10px 0 16px 0;
  margin: 0 0 30px;
  text-align:center;
  color:#2187e7;
  text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
  background:#000;
  border-radius:2px;
  border: 1px solid #2187e7;  
  box-shadow: 0px 0px 50px -8px #2187e7;
}
h2.plataformas {
  border: 1px solid #9ACD32;  
  box-shadow: 0px 0px 50px -8px #9ACD32;
  color: #9ACD32;
  text-shadow: 1px 1px 5px #000, 0 0 10px #9ACD32, 0 0 20px #9ACD32;
}

h2.programas {
  border: 1px solid #FF4500;  
  box-shadow: 0px 0px 50px -8px #FF4500;
  color: #FF4500;
  text-shadow: 1px 1px 5px #000, 0 0 10px #FF4500, 0 0 20px #FF4500;
}
 
.container-Skills {
  width: 90%;
  padding:5%;
  margin: 0 auto; 
  overflow: hidden;
}

.col {
  width: 23%;
  margin: 0 5%;
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 2em;
  padding: 5% 0;
} 
/*.col { width:101%; }*/
.skill { 
  list-style:none; 
  padding-top:30px;
}

.skill li { 
  margin-bottom:70px; 
  background:#030303; 
  height:6px; 
  border-radius:3px; 
  border-left:1px solid #111; 
  border-top:1px solid #111; 
  border-right:1px solid #333; 
  border-bottom:1px solid #333;  
}

.skill li em { 
  position:relative; 
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color:#dedede;
  top:-28px;
}

.blueline { 
  height: 3px; 
  margin: 2px 0; 
  background: #2187e7; 
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.6);
}
.greenline { 
  height: 3px; 
  margin: 2px 0; 
  background: #9ACD32; 
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(173, 255, 47,0.4);
}
.redline { 
  height: 3px; 
  margin: 2px 0; 
  background: #FF4500; 
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(255, 69, 0,0.4);
}

.titulo      { opacity:1;  animation:titulo 5s ease-out;     }

/*programacion*/
.html        { width:90%;  animation:html 2s ease-out;       }
.css         { width:75%;  animation:css 2s ease-out;        }
.java         { width:50%;  animation:java 2s ease-out;        }
.javascript  { width:85%;  animation:javascript 2s ease-out; }
.php      { width:30%;  animation:php 2s ease-out;     }

/*plataformas*/
.react-js   { width:80%;  animation:react-js 2s ease-out;  }
.angular  { width:60%;  animation:angular 2s ease-out; }
.vue-js     { width:30%;  animation:vue-js 2s ease-out;     }
.express-js     { width:70%;  animation:express-js 2s ease-out;    }
.laravel     { width:30%;  animation:laravel 2s ease-out;     }

/*tools*/
.vscode { width:90%;  animation:vscode 2s ease-out;}
.git { width:85%;  animation:git 2s ease-out;}
.npm   { width:70%;  animation:npm 2s ease-out;  }
.webpack   { width:40%;  animation:webpack 2s ease-out;   }
.gulp      { width:30%;  animation:gulp 2s ease-out;      }


@keyframes titulo      { 0% { opacity:0; } 100% { opacity:1; }  }

/*programacion*/
@keyframes html        { 0% { width:0px; } 100% { width:90%; }  }
@keyframes css         { 0% { width:0px; } 100% { width:75%; }  }
@keyframes java         { 0% { width:0px; } 100% { width:50%; }  }
@keyframes javascript  { 0% { width:0px; } 100% { width:85%; }  }
@keyframes php      { 0% { width:0px; } 100% { width:30%; }  }

/*plataformas*/
@keyframes react-js   { 0% { width:0px; } 100% { width:80%; }  }
@keyframes angular  { 0% { width:0px; } 100% { width:60%; }  }
@keyframes vue-js      { 0% { width:0px; } 100% { width:30%; }  }
@keyframes express-js     { 0% { width:0px; } 100% { width:70%; }  }
@keyframes laravel     { 0% { width:0px; } 100% { width:30%; }  }

/*programas*/
@keyframes vscode{ 0% { width:0px; } 100% { width:90%; }  }
@keyframes git { 0% { width:0px; } 100% { width:85%; }  }
@keyframes npm   { 0% { width:0px; } 100% { width:70%; }  }
@keyframes webpack    { 0% { width:0px; } 100% { width:40%; }  }
@keyframes gulp       { 0% { width:0px; } 100% { width:30%; }  }

/*media queries*/
@media (max-width: 1200px){
  h2 {font-size:2.2em;}
}
@media (max-width: 980px){
  h2 {font-size:1.8em;}
}
@media (max-width: 767px){
  h2 {font-size:1.4em;}
}
@media (max-width: 580px){
  h2 {font-size:1.1em; padding:10px 0;}
}
@media (max-width: 480px){ 
  h2 {font-size:2.2em; padding: 10px 0 15px 0;}
  .col {width: 90%;}
}